.btn{
  margin: 10px 10px 10px 0px;
  padding: 5px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  background-color: hsl(120, 1%, 83%);
  border-radius: 10px;
}
.btn:hover{
  background-color: hsl(0, 1%, 56%);
} 
.replyBtn {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}
.commentPost{
  resize: none;
  width: 47vw;
  margin-top: 5px;
  padding: 15px;
  margin-left: 30px;
  margin-right: 55px;
  font-size: 18px;
  background-color: rgb(220, 231, 137);
  border-radius: 50px 50px 0px 50px;
}
.save{
  display: flex;
  justify-content: flex-end;
}
.addContainer{
  position: relative;
  top:20px;
  right: -20px;
}
