.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.avatar img {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.userInfo {
    display: flex;
    margin-top: 5px;
}

.userInfo span {
    margin-left: 7px;
}

@media only screen and (max-width: 900px) {
    .container {
        position: absolute;
        right: 30px;
        top: 10px;
        z-index: 1;
    }

    .avatar img {
        height: 70px;
        width: 70px;
        border-radius: 100px;
    }

    .userInfo {
        font-size: 17px;
    }
}