.btn{
    margin: 10px 10px 10px 0px;
    padding: 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: hsl(120, 1%, 83%);
    border-radius: 10px;
}
.btn:hover{
    background-color: hsl(0, 1%, 56%);
}
.secContainer{
    text-align: center;
    padding-bottom: 200px;
}
.editBody{
    width: 600px;
    height: 200px;
    resize: none;
}
.editTitle{
    width: 500px;
}