.containerPost{
    display: flex;
    justify-content: center;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
}
.info div{
    background-color: hsl(120, 1%, 83%);
    width:100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top: 20px;
}
.info p{
   padding: 10px;
   font-family:'Times New Roman', Times, serif
}
.info  h3{
    border-radius: 15px;
    font-size: 20px;
    background-color: hsl(120, 1%, 83%);
    padding: 15px;
}

.action{
    display:  flex;
    justify-content: flex-end;    
}
.action a{
    cursor:none;
}

.comment{
    margin-top:25px;
    padding: 15px;
    margin-left: 30px;
    margin-right: 55px;

    font-size: 18px;
    background-color: rgb(220, 231, 137);
    border-radius: 50px 50px 0px 50px;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: -10px;
}
.ava{
    display: flex;
    justify-content:flex-end;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.pagination span {
    cursor: pointer;
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    transition: background-color .3s;

  }
  


  .pagination span.active {
    background-color: dodgerblue;
    color: white;
  }
  .selectedPage {
    background-color: rgb(200, 209, 128);
    color: white;
    font-weight: bold;
  }
 .pagination span:hover:not(.active) {
    background-color: rgb(200, 209, 128);
}


/* UPDATE POST */
.textInput{
    width: 100%;
    height: 100px;
    resize: none;
}
.postTitle{
    width: 350px;
    height: 20px;
}
.btn{
    margin: 10px 10px 10px 0px;
    padding: 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: hsl(120, 1%, 83%);
    border-radius: 10px;
}
.btn:hover{
    background-color: hsl(0, 1%, 56%);
}
.hidden{
    color:rgb(173, 7, 7)
}
.secContainer{
    text-align: center;
}

/* EDIT POST */
.editBody{
    width: 80%;
    height: 200px;
}

.editTitle{
    width: 80%;

}