
.btn{
    margin: 10px 10px 10px 0px;
    padding: 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: hsl(120, 1%, 83%);
    border-radius: 10px;
}
.btn:hover{
    background-color: hsl(0, 1%, 56%);
}
.messageError{
    color: #ba3939;
    margin: 4px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 500;
}
.action{
    display: flex;
    justify-content: flex-end;
}

.removePost{
    display: flex;
    justify-content: flex-end;
    margin-left: -245px;
}