nav {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  /* flex-wrap: wrap; */
}

.item a {
  color: rgb(252, 252, 252);
  font-size: 25px;
  text-decoration: none;
  padding: 25px;
  font-weight: 700;

}

.item a:hover {
  color: rgb(21, 226, 86);
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
}


.active a {
  color: rgb(25, 4, 143);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.item {
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.menuMain {
  display: flex;
  flex-wrap: wrap;
  align-content: center
}

.login,
.register,
.logout {
  margin-bottom: 15px;
  margin-top: 15px;
}

.login a,
.register a,
.logout a {
  color: rgb(252, 252, 252);
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  font-weight: 700;
}

nav a:hover {
  color: rgb(21, 226, 86);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}

.userAuth {
  display: flex;
  align-items: center;
}

/* .auth a {
  color: rgb(252, 252, 252);
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  font-weight: 700;
}

.auth {
  margin-bottom: 15px;
  margin-top: 15px;

} */

/* .auth a:hover {
  color: rgb(21, 226, 86);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
} */

.userInfo {
  margin-top: -20px;
  margin-bottom: 10px;
}

.burger {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menuMain {
    display: none;
  }

  .burger {
    position: absolute;
    display: block;
    font-size: 25px;
    border: 0px;
    background: none;
    left: 50px;
    top: 35px;
  }

  .show {
    display: block;
    margin-top: 60px;
  }

  nav {
    padding-bottom: 110px;
  }

  .item a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    /* padding: 20px; */
    font-weight: 700;

  }

  .item {
    margin-top: 45px;
    margin-bottom: -30px;
    padding-top: 15px;
  }

  .logout {
    position: absolute;
    right: 30px;
    z-index: 2;
    top: 75px;
  }

  .login {
    top: 25px;
    position: absolute;
    right: 110px;
    z-index: 3;
  }

  .register {
    top: 25px;
    position: absolute;
    right: 20px;
    z-index: 4;
  }

  .login a {
    color: rgb(252, 252, 252);
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
  }

  .register a {
    color: rgb(252, 252, 252);
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
  }

  .burger img {
    height: 40px;
    width: 40px;
  }
}