.topNav {
  padding: 10px;
  position: static;
  height: 120px;
  box-sizing: border-box;
}

.item a {
  color: rgb(252, 252, 252);
  font-size: 25px;
  text-decoration: none;
  padding: 25px 25px 25px 25px;
  font-weight: 700;
}

.item a:hover {
  color: rgb(21, 226, 86);
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
}


.item {
  margin-bottom: 10px;
  background: none;
  border: 0px;
}

.login,
.register,
.logout {
  margin-bottom: 15px;
  margin-top: 15px;
  background: none;
  border: 0px;
}

.login a,
.register a {
  color: rgb(252, 252, 252);
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  font-weight: 700;
}
.login a:hover, .register a:hover{
  color: black;
}
.burger {
  display: none;
}

/* Second Try */
.menuContainer {
  display: flex;
  justify-content: space-between;
  height: 110px;
}

.firstPart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondPart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  position: absolute;
  right: 25px;
  top: 15px;
}


@media only screen and (max-width: 900px) {
  .menuMain {
    display: none;
  }

  .burger {
    display: block;
    font-size: 25px;
    border: 0px;
    background: none;
    margin: 40px;
    top: 35px;
  }

  .topNav {
    height: auto;
  }

  .menuContainer {
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
  }

  .firstPart {
    flex-direction: column;
    align-items: flex-start;
  }

  .secondPart {
    justify-content: flex-start;

  }

  .show {
    display: block;
    margin-top: 60px;
  }

  .item a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
  }

  .item {
    display: flex;
    padding-top: 10px;
    background: none;
    border: 0px;
  }

  .login .register {
    display: flex;
    margin-top: 45px;
    margin-bottom: -30px;
    padding-top: 15px;
    background: none;
    border: 0px;
    font-size: 25px;
  }


  .login a,
  .register a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
  }

  .profile {
    display: flex;
  }

  .burger img {
    height: 40px;
    width: 40px;
  }
}