.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.pagination span {
    cursor: pointer;
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination span.active {
    background-color: dodgerblue;
    color: white;
}
.selectedPage {
    background-color: rgb(200, 209, 128);
    color: white;
    font-weight: bold;
}
.pagination span:hover:not(.active) {
    background-color: rgb(200, 209, 128);
}


