.comment{
    margin-top:25px;
    padding: 15px;
    margin-left: 30px;
    margin-right: 55px;

    font-size: 18px;
    background-color: rgb(220, 231, 137);
    border-radius: 50px 50px 0px 50px;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: -10px;
}
.ava{
    display: flex;
    justify-content:flex-end;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.pagination span {
    cursor: pointer;
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    transition: background-color .3s;

  }
  


.pagination span.active {
  background-color: dodgerblue;
  color: white;
}
.selectedPage {
  background-color: rgb(200, 209, 128);
  color: white;
  font-weight: bold;
}
.pagination span:hover:not(.active) {
  background-color: rgb(200, 209, 128);
}


.removeContainer{
    display: flex;
    justify-content: flex-end;
}
.btnRemove{
  margin: 10px 10px -10px 0px;
  padding: 3px;
  font-size: 13px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(216, 216, 223);
  
}
.btnRemove:active{
  background-color: rgb(157, 163, 168);
}

/* button reply */
.btn{
  margin: 10px 10px 10px 0px;
  padding: 5px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  background-color: hsl(120, 1%, 83%);
  border-radius: 10px;
}
.btn:hover{
  background-color: hsl(0, 1%, 56%);
}

.replyBtn {
    display: flex;
    justify-content: flex-end;
}

.commentPost{
  resize: none;
  width: 47vw;
  margin-top: 5px;
  padding: 15px;
  margin-left: 30px;
  margin-right: 55px;
  font-size: 18px;
  background-color: rgb(220, 231, 137);
  border-radius: 50px 50px 0px 50px;
}
.save{
  display: flex;
  justify-content: flex-end;
}
.commentUpdate{
  resize: none;
  margin-top: 5px;
  padding: 15px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
  width: 35vw;
  /* background-color: rgb(220, 231, 137); */
}

.action{
  display: flex;
  margin-top: 15px;
}

.replyBtn{
  display: flex;
  box-sizing: border-box;
}